body {
    background-color: rgb(23, 59, 126);
}

.titles {
    text-align: center;
    color: rgb(245, 245, 245);
}

.names {
    display: flex;
    justify-content: space-between;
    margin-right: 3em;
    margin-left: 6em;
    color: rgb(197, 112, 197);
    border:solid rgba(0, 0, 0, 0.425);
    padding-right: 2ch;
    padding-left: 2ch;
    background-color: rgba(255, 255, 255, 0.89);
}

#resetButton {
    text-align: center;
}

#buttons {
    text-align: center;
}

.button {
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
    line-height: 2em;
    font-size: 25px;
    width: 5em;
    height: 4em;
    border: .2rem solid rgb(197, 112, 197);
    border-radius: 20%;
    color: rgb(197, 112, 197);
    transition: all 0.2s ease;
}

.clicking {
    transform: scale(1.1);
    border-color: rgb(113, 194, 248);
    box-shadow: 0 0 3rem rgb(113, 194, 248);
    color: rgba(206, 164, 75, 0.897);
}

#resultsLog {
    text-align: center;
    color: rgb(219, 219, 219);
    line-height: 1cm;
}