body {
    background-color: rgb(81, 81, 190);
}

.titles {
    text-align: center;
    color: rgb(219, 219, 219);
}

.names {
    display: flex;
    justify-content: space-between;
    margin-right: 3em;
    margin-left: 5em;
}

#resetButton {
    text-align: center;
}

#buttons {
    text-align: center;
}

.button {
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
}

#resultsLog {
    text-align: center;
    color: rgb(64, 187, 48);
}